body {
	font-family: 'Raleway', sans-serif;
	max-width: max-content;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
}
/*Header*/
#header{
	display: flex;
	justify-content: space-between;
}
.header-img{
	padding: 0 30px;
	height: 50px;
}
.headernav{
	display: flex;
	align-items: center;
	float: right;
}
.headernavlink{
	text-decoration: none;
	padding: 30px;
	color: #0065fc;
}
.headernavlink:hover{
	border-top: 3px solid #0065fc;
}
/*search*/
#search{
	border: 1px solid #ccc;
	border-radius: 20px;
	width: 450px;
	display: flex;
	justify-content: space-between;
}
.search-marker{
	background-color: #ccc;
	padding: 20px;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	border: 1px solid #ccc;
}
.search-input{
	font-size: 17px;
	font-weight: bold;
	height: 100%;
	padding: 20px;
	border: none;
}
.search-button{
	background-color: #0065fc;
	padding: 23px;
	border-bottom-right-radius: 20px ;
	border-top-right-radius: 20px;
	border: none;
	color: white;
	font-weight: bold;
}
.search-button-icon{
	display: none;
}
.search-button-text{
	display: block;
}

/*Les filtres*/
.filters{
	font-weight: bold;
}
.filters-buttons{
	display: flex;
  	flex-wrap: wrap;
  	align-items: center;
}
.search-filter-icon{
	background: #deebff;
	padding: 10px;
	border-radius: 30px;
	color: #0065fc;
}
.filter-button{
	display: flex;
	justify-content: space-between;
	margin-left: 20px;
	border-radius: 30px;
	background: transparent;
	align-items: center;
	border: 1px solid #ccc;
	padding: 0%;
}
.filter-button:hover{
	transform: scale(1.2);
}
.filter-text{
	padding-left: 10px;
	padding-right: 10px;
}
#search-filters{
	display: flex;
	margin-top: 15px;
	align-items: center;
}	
.search-result{
	margin-top: 30px;
	display: flex;
	align-items:baseline;
}
.search-result-icon{
	color: #0065fc;
	border-radius: 100%;
	border: 1px solid #ccc;
	height: 20px;
	width: 20px;
	text-align: center;
	margin-right: 15px;
	margin-bottom: 15px;
	padding: 5px 5px 5px 5px;
	font-size: 15px;
}
/*Hebergements*/
#container{
	display: flex;
    flex-direction: row;
    padding-left: 0;
	justify-content: space-between;
}
#hosting{
	display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-right: 15px;
    max-width: 810px;
	padding-left: 25px;
	padding-right: 25px;
}
.hosting-title{
	width: 100%;
    padding-left: 25px;
}
.hosting a{
	margin: 10px;
    height: fit-content;
	text-decoration: none;
    color: black;
    border-radius: 25px;
    width: 240px;
	background-color: #fff;
    box-shadow: -1px 2px 27px 0px rgb(189 189 189 / 65%);
    padding: 5px;
}
.hosting a:hover{
	transform: scale(1.02);
}
.hosting-card-img{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	width: 100%;
    height: 120px;
}
.hosting-view-more{
	padding-left: 15px;
}
.bluestars{
	color: #0065fc;
}
.greystars{
	color: #F2F2F2;
}
.card-title{
	padding-left: 10px;
	padding-bottom: 10px;
}
/*Les plus popolaires*/
#hosting-popular{
	border-radius: 20px;
    background-color: #f2f2f2;
    padding: 10px;
	display: block;
}
.popular-card-container a{
	text-decoration: none;
    color: black;
    border-radius: 25px;
    height: 120px;
    display: flex;
    background-color: #fff;
    margin-bottom: 25px;
	margin-top: 25px;
    padding: 5px;
}
.popular-card-container{
	display: flex;
	flex-direction: column;
	margin: 20px 20px 20px 20px
}
.popular-card-container a:hover{
	transform: scale(1.02)
}
.popular-icon{
    margin-right: 25px;
    font-size: 30px;
}
.hosting-popular-title{
	display: flex;
    justify-content: space-between;
	align-items: center;
	margin-left: 25px;
}
.stars{
	display: flex;
}
.popular-card-img{
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	height: 100%;
	width: 150px;
}
.popular-card{
	padding-left: 15px;
    width: auto;
}
/*Activités*/
#activity{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.activity-card-img{
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}
.activity-card a{
	text-decoration: none;
	background-color: whitesmoke;
}
.activity-card-title{
	color: black;
	margin-left: 25px;
	padding-bottom: 10px;
}
.activity-card{
	box-shadow:0 0 25px #0000002e;
	border-radius: 25px;
}
.card3{
	margin-top: 40px;
	margin-bottom: 15px;
}
.card2 a h3,
.card3 a h3,
.card5 a h3,
.card6 a h3{
	height: 30px;	
}
.card6{
	margin-top: 40px;
}
.card1{
	margin-bottom:70px ;
}
.card4{
	margin-bottom: 70px;
}
.activity-card:hover{
	transform: scale(1.02);
}
#activity-cards{
	display: flex; 
	flex-direction: column;
	justify-content: space-between;
}
/*Footer*/
#footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background: #F2F2F2;
	padding-right: 400px;
}
li{
	list-style: none;
}
ul{
	display: block;
	padding-inline-start: 5px;
	margin: 15px;
}
.footer-title{
	margin: 20px;
}
/*media queries*/
@media screen and (min-width: 280px) and (max-width: 992px){
	.headernavlink:hover{
		border-bottom: 3px solid #0065fc;
		border-top: none ;
	}
	main h1{
		margin-left: 20px;
	}
	main p{
		margin-left: 20px;
	}
	#search{
		margin-left: 20px;
	}
	.filters{
		margin-left: 20px;
	}
	.search-result{
		margin-left: 20px;
	}
	#header{

		align-items: center;
		flex-direction: column;
	}
	.search-button-icon{
	display: block;
	}
	.search-button-text{
	display: none;
	}
	.search-result-icon{
		margin-right: 5px;
	}
	#search{
		width: 50px;	
	}
	.search-input{
		width: 200px;
	}
	.filter-button{
		margin-bottom: 10px;
	}
	body{
		padding: 0;
	}
	#search-filters{
		flex-direction: column;
		align-items:flex-start;
	}
	#container{
		display: flex; 
		justify-content: center;
		flex-direction: column-reverse;
	}
	#hosting{
		flex-direction: column;
		align-items: center;
		background: none;
		justify-content: center;
		padding-left: 0;
    	padding-right: 0;
		margin-right: 0;
	}
	.hosting-title{
		padding-left: 0;
	}	
	.hosting-card-img{
		width: 350px;
		height: 150px;
	}
	.hosting a{
		width: 350px;
		height: 100%;
		margin-left: 0;	
	}
	#hosting-popular{
		flex-direction: column;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}	
	.popular-card-container{
		margin-right: 20px;
	}
	.popular-card{
		font-size: 14px;
		justify-content: center;
	}
	.popular-card-title{
		font-size: 15px;
	}
	#activity{
		margin: 20px;
		flex-direction: column;
		align-items: center;
	}
	.activity-title{
		margin-left: 20px;
	}
	.activity-card-img{
		width:350px;
		height: 150px;	
	}
	#footer{
		flex-direction: column;
		align-items:flex-start;
		padding-right: 0;
		justify-content: center;
	}	
}
/*galaxy Fold*/
@media screen and (max-width: 280px){
	#hosting{
		align-items: center;
	}
	.hosting-card-img{
		width: 100%;
		height: 100px;	
	}
	.hosting a{
		width: 100%;	
	}
	.card-title{
		font-size: 10px;
	}
	.search-input{
		width: 140px;
		padding: 10px;	
	}
	.search-result{
		margin-top: 0;
		margin-left: 0;
	}
	.search-button{
		padding: 15px;
	}
	.hosting-popular{
		font-size: 10px;
	}
	.popular-icon{
		font-size: 15px;
	}
	.popular-card-title{
		font-size: 13px;
	}	
	.popular-card-img{
	width: 90px;
	}
	.popular-card p{
		font-size: 10px;
	}
	.activity-card-img {
    width: 100%;
	}
	.activity-card-title{
		font-size: 12px;
	}
	#footer{
		padding-right: 0;
	}
	.card-title h3, 
	.card-title p{
		margin-block-start: 5px;
    	margin-block-end: 5px;
	}
}
/*Tablette*/
@media screen and (min-width: 768px) and (max-width : 992px){
	.headernavlink:hover{
		border-bottom: 3px solid #0065fc;
		border-top: none ;
	}
	main h1{
		margin-left: 20px;
	}
	main p{
		margin-left: 20px;
	}
	#search{
		margin-left: 20px;
	}
	.filters{
		margin-left: 20px;
	}
	.search-result{
		margin-left: 20px;
	}
	#header{

		align-items: center;
		flex-direction: column;
	}
	.search-button-icon{
	display: block;
	}
	.search-button-text{
	display: none;
	}
	#search{
		width: 50px;	
	}
	.search-input{
		width: 200px;
	}
	.filter-button{
		margin-bottom: 10px;
	}
	body{
		padding: 0;
	}
	#search-filters{
		flex-direction: column;
		align-items:flex-start;
	}
	#container{
		display: flex; 
		justify-content: center;
		flex-direction: column-reverse;
	}
	#hosting{
		flex-direction:row;
		align-items: flex-start;
		background: none;
		justify-content: center;
		margin-right: 0;
	}	
	.hosting a{
		width: 320px;
		margin: 20px;
	}
	.hosting-card-img{
		width: 320px;
	}
	.hosting-view-more{
		padding-left: 50px;
	}	
	#hosting-popular{
		flex-direction: column;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}	
	.popular-card-container{
		margin-right: 20px;
	}
	.popular-card-title{
		font-size: 18px;
	}
	#activity{
		margin-left: 20px;
		margin-right: 20px;
		display: flex;
		flex-wrap:wrap;
		flex-direction: row;
	}
	.activity-title{
		margin-left: 20px;
	}
	.card1:nth-child(1){
		order: 1;
	}
	.bloc1:nth-child(2){
		order: 3;
	}
	.card4:nth-child(3){
		order: 2;
	}
	.bloc2:nth-child(4){
		order: 4;
	}
	#footer{
		flex-direction: column;
		align-items:flex-start;
	}	
}