#header{
	display: flex;
	justify-content: space-between;
}
@media screen and (max-width:992px){
	#header{

		align-items: center;
		flex-direction: column;
	}	
}
#search{
	border: 1px solid #ccc;
	border-radius: 20px;
	width: 450px;
	display: flex;
	justify-content: space-between;
}
.search-marker{
	background-color: #ccc;
	padding: 20px;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	border: 1px solid #ccc;
}
.search-input{
	font-size: 17px;
	font-weight: bold;
	height: 100%;
	padding: 20px;
	border: none;
}
.search-button{
	background-color: cornflowerblue;
	padding: 23px;
	border-bottom-right-radius: 20px ;
	border-top-right-radius: 20px;
	border: none;
	color: white;
	font-weight: bold;
}
.header-img{
	grid-area: logo;
	padding: 0 2rem;
	height: 2.900rem;
}
.headernav{
	display: flex;
	align-items: center;
	grid-area: navbar;
	float: right;
}

.headernavlink{
	text-decoration: none;
	padding: 2rem;
	color: cornflowerblue;
}
.headernavlink:hover{
	border-top: 3px solid cornflowerblue;
}


.filtersbuttons{
	display: flex;
  	flex-wrap: wrap;
  	align-items: center;
}

.searchfiltericon{
	width: 35px;
	height: 35px;
	background-color: cornflowerblue;
	border-radius: 35px;
}
.filterbutton{
	border-top: 3px solid #ccc;
	border-radius: 35px;
	border-right: 3px solid #ccc;
	border-bottom: 3px solid #ccc ;
	background-color: transparent;
	
