body{
	font-family: 'Raleway', sans-serif;
	max-width: max-content;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
}
#header{
	display: flex;
	justify-content: space-between;
}
@media screen and (max-width:992px){
	#header{

		align-items: center;
		flex-direction: column;
	}	
}
#search{
	border: 1px solid #ccc;
	border-radius: 20px;
	width: 450px;
	display: flex;
	justify-content: space-between;
}
.search-marker{
	background-color: #ccc;
	padding: 20px;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	border: 1px solid #ccc;
}
.search-input{
	font-size: 17px;
	font-weight: bold;
	height: 100%;
	padding: 20px;
	border: none;
}
.search-button{
	background-color: #0065fc;
	padding: 23px;
	border-bottom-right-radius: 20px ;
	border-top-right-radius: 20px;
	border: none;
	color: white;
	font-weight: bold;
}
.search-button-icon{
	display: none;
}
.search-button-text{
	display: block;
}
@media screen and (max-width:992px){
	.search-button-icon{
	display: block;
	}
	.search-button-text{
	display: none;
	}
}
.header-img{
	grid-area: logo;
	padding: 0 2rem;
	height: 2.900rem;
}
.headernav{
	display: flex;
	align-items: center;
	grid-area: navbar;
	float: right;
}
.headernavlink{
	text-decoration: none;
	padding: 2rem;
	color: #0065fc;
}
.headernavlink:hover{
	border-top: 3px solid #0065fc;
}
.filters-buttons{
	display: flex;
  	flex-wrap: wrap;
  	align-items: center;
}
.search-filter-icon{
	background: #deebff;
	padding: 10px;
	border-radius: 30px;
	color: #0065fc;
}
.filter-button{
	display: flex;
	justify-content: space-between;
	margin-left: 20px;
	border-radius: 30px;
	background: transparent;
	align-items: center;
	border: 1px solid #ccc;
	padding: 0%;
}
.filter-text{
	padding-left: 10px;
	padding-right: 10px;
}
#search-filters{
	display: flex;
	margin-top: 15px;
	align-items: center;
}	
@media screen and (max-width:992px){
	#search-filters{
		flex-direction: column;
		align-items:flex-start;
	}	
}
.search-result{
	margin-top: 30px;
}	
.search-result-icon{
	color: #0065fc;
	border-radius: 50%;
	border: 1px solid #ccc;
	height: 25px;
	width: 25px;
	text-align: center;
	padding-top: 6px;
}
/*.card-hostings-container{
	display: flex;
	border-radius: 30px;
	background: #F2F2F2;
	flex-wrap: wrap;
	justify-content: space-between;
}*/
#hosting{
	display: flex;
	flex-wrap: wrap;
	border-radius: 30px;
	background: #F2F2F2;
	margin-right:30px; 
	padding: 30px;
	justify-content: space-between;
}
#card-hostings-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-right:15px; 
	padding: 15px;
	border-radius: 30px;
}
/*@media screen and (max-width:992px){
	#hosting{
		flex-direction: column;
		align-items: flex-start;
	}	
}*/
.card{
	border-radius: 25px;
	align-items: center;
	padding: 10px 10px 10px 10px;
	background-color: white;
	display: flex;
	border-radius: 30px;
	flex-wrap: wrap;
	justify-content: space-between;
}
@media screen and (max-width:992px){
	.card{
		flex-direction: column;
	}	
}
.card:hover{
	transform: scale(1.02);
}
.card-img{
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}
#popular-container:hover{
	transform: scale(1.02);
}
.card a{
	text-decoration: none;
}
.bluestars{
	color: #0065fc;
}
.greystars{
	color: rgba(128, 128, 128, 0.945);
}
.hosting-view-more{
	text-decoration: none;
	color: black;
}
#hosting-popular{
	display: flex;
	border-radius: 30px;
	background: #F2F2F2;
	justify-content: space-between;	
	flex-direction: column;
	flex-wrap: wrap;
	padding:10px 10px 10px 10px; 
}
.popular-card-title{
	width: 200px;
	padding-left: 20px;
}
.hosting-popular-title{
	margin-left: 25px;
}
.pop{
float: right;
margin-right: 25px;
}
#popular-container{
	border-radius: 30px;
	align-items: center;
	padding: 10px 10px 10px 10px;
	background-color: white;
}
.stars{
	color: #0065fc;
}
.card-image{
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	height: 100%;
}
#popular-container{
	flex-wrap: nowrap;
	display: flex;
}
#activity{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}
@media screen and (max-width:992px){
	#activity{
		flex-direction: column;
		align-items:flex-start;
	}	
}
.card-picture{
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}
.activity-card a{
	text-decoration: none;
	background-color: whitesmoke;
}
.card-title{
	color: black;
	margin-left: 25px;
}
.activity-card{
	box-shadow:0 0 20px #0000002e;
	border-radius: 25px;
}
.activity-card:hover{
	transform: scale(1.02);
}
.card1{
	height: 490px;
}
.card2{
	height: 160px;

}
.card3{
	height: 160px;
}
.card4{
	height: 490px;
}
.card5{
	height: 160px;
}
.card6{
	height: 160px;
}



#footer{
	display: flex;
	justify-content: space-between;
	background: #F2F2F2;
}
li{
	list-style: none;
}
ul{
	display: block;
	padding-inline-start: 5px;
}

